body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
}

.col a {
  /* display: block;           Each link on a new line */
  color: rgb(90, 90, 90);           /* Change to desired color */
  text-decoration: none;    /* Remove underline */
  margin: 4px 0;            /* Space between links */
  transition: color 0.3s;   /* Smooth hover effect */
}

/* Hover effect */
.col a:hover {
  color: #3b82f6;           /* Change color on hover */
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 100px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}